.statistics{
    background: transparent;
    border-top: 3px solid rgb(196, 196, 196);
    border-bottom: 3px solid rgb(202, 202, 202);
    border-left: 2px solid rgb(112, 112, 112);
    border-right: 2px solid rgb(112, 112, 112);
    // background-color: rgb(191, 191, 255);
  } 
 
 .new-essay-toogle{
    background: transparent;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid rgb(112, 112, 112);
    border-right: 2px solid rgb(112, 112, 112);
    border-radius: 5px;
  }

.essay-card{
    width: 45% !important;
}

@keyframes essay-card__success-animation{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}

.essay-card__success{
    animation-name: essay-card__success-animation;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@media (max-width: 768px) {
    .essay-card{
        width: 100% !important;
    }
}