.text-xxxl{
    font-size: 2.1rem;
}
.text-xxl{
    font-size: 1.9rem;
}
.text-xl{
    font-size: 1.7rem;
}
.text-l{
    font-size: 1.5rem;
}
.text-s{
    font-size: 1.3rem;
}
.text-xs{
    font-size: 1.2rem;
}
.text-xxs{
    font-size: 1rem;
}
.text-xxxs{
    font-size: 0.8rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .text-xxxl{
        font-size: 2.1rem;
    }
    .text-xxl{
        font-size: 1.9rem;
    }
    .text-xl{
        font-size: 1.7rem;
    }
    .text-l{
        font-size: 1.5rem;
    }
    .text-s{
        font-size: 1.3rem;
    }
    .text-xs{
        font-size: 1.2rem;
    }
    .text-xxs{
        font-size: 1rem;
    }
    .text-xxxs{
        font-size: 0.8rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .text-xxxl{
        font-size: 2.1rem;
    }
    .text-xxl{
        font-size: 1.9rem;
    }
    .text-xl{
        font-size: 1.7rem;
    }
    .text-l{
        font-size: 1.5rem;
    }
    .text-s{
        font-size: 1.3rem;
    }
    .text-xs{
        font-size: 1.2rem;
    }
    .text-xxs{
        font-size: 1rem;
    }
    .text-xxxs{
        font-size: 0.8rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .text-xxxl{
        font-size: 2.1rem;
    }
    .text-xxl{
        font-size: 1.9rem;
    }
    .text-xl{
        font-size: 1.7rem;
    }
    .text-l{
        font-size: 1.5rem;
    }
    .text-s{
        font-size: 1.3rem;
    }
    .text-xs{
        font-size: 1.2rem;
    }
    .text-xxs{
        font-size: 1rem;
    }
    .text-xxxs{
        font-size: 0.8rem;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .text-xxxl{
        font-size: 2.1rem;
    }
    .text-xxl{
        font-size: 1.9rem;
    }
    .text-xl{
        font-size: 1.7rem;
    }
    .text-l{
        font-size: 1.5rem;
    }
    .text-s{
        font-size: 1.3rem;
    }
    .text-xs{
        font-size: 1.2rem;
    }
    .text-xxs{
        font-size: 1rem;
    }
    .text-xxxs{
        font-size: 0.8rem;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .text-xxxl{
        font-size: 2.1rem;
    }
    .text-xxl{
        font-size: 1.9rem;
    }
    .text-xl{
        font-size: 1.7rem;
    }
    .text-l{
        font-size: 1.5rem;
    }
    .text-s{
        font-size: 1.3rem;
    }
    .text-xs{
        font-size: 1.2rem;
    }
    .text-xxs{
        font-size: 1rem;
    }
    .text-xxxs{
        font-size: 0.8rem;
    }
}